@font-face {
    font-family: Oskari_G2;
    src: url(./assets/fonts/Oskari+G2+Medium.otf);
  }

*,body,h1, h2, h3, h4, h5, h6,p { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    box-sizing: border-box;
    font-family:Oskari_G2;
    letter-spacing: 1px;
}



