@font-face {
    font-family: Oskari_G2;
    src: url(./assets/fonts/Oskari+G2+Medium.otf);
  }

*,body,h1, h2, h3, h4, h5, h6,p { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    box-sizing: border-box;
    font-family:Oskari_G2;
    letter-spacing: 1px;
}

    .divLoader {
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .loader {
      border: 8px solid #f3f3f3;
      border-radius: 50%;
      border-top: 8px solid #3498db;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
    }
    
    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    .scrollTop {
      position: fixed; 
      width: 10%;
      bottom: 30px;
      align-items: center;
      height: 20px;
      justify-content: center;
      z-index: 1000;
      cursor: pointer;
      animation: fadeIn 0.3s;
      transition: opacity 0.4s;
      opacity: 0.5;
      right:5px
    }
    
    .scrollTop:hover{
      opacity: 1;
    }
    
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 0.5;
      }
    }



